[Unit]
Description=SSH tunnel for fastapi
 
[Install]
WantedBy=multi-user.target
 
[Service]
ExecStart=screen -dmS tunnel /root/tunnel.sh
After=network.target
Type=forking
User=root
Group=root
WorkingDirectory=/root
Restart=on-failure
